.nav {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 40px);
  width: 40%;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 20px;
}

.nav h1 {
  font-size: 50px;
  font-weight: 700;
  opacity: 0.9;
}

.navTopInfo {
  display: flex;
  flex-direction: column;
}

.nav h2 {
  font-size: 20px;
  font-weight: 600;
  opacity: 0.9;
}

.nav h6 {
  font-size: 16px;
  font-weight: 600;
  opacity: 0.7;
  margin-top: 5px;
}

.navCenterButtons {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 16px;
}

.buttonNotActive {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.buttonNotActive p {
  margin-top: 2px;
  opacity: 0.7;
  transition: 0.1s ease;
}

.buttonNotActive hr {
  width: 30px;
  height: 1px;
  background-color: #fff;
  opacity: 0.7;
  transition: 0.1s ease;
}

.buttonActive {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.buttonActive hr {
  width: 50px;
  height: 1.5px;
  background-color: #fff;
  opacity: 1;
}

.buttonActive p {
  opacity: 1;
  margin-top: 2px;
}

.buttonNotActive:hover hr {
  width: 50px;
  transition: 0.1s ease;
  opacity: 1;
  height: 1.5px;
}

.buttonNotActive:hover p {
  opacity: 1;
  transition: 0.1s ease;
}

.navBottomButtons {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 15px;
  height: 65px;
}

.navBottomButtons button {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.navBottomButtons img {
  opacity: 0.7;
  transition: 0.1s ease;
}

.navBottomButtons img:hover {
  opacity: 1;
  transition: 0.1s ease;
}

.oneSocial {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.navSocialButtonsRow {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media screen and (max-width:800px) {
  .nav{
    display: none;
  }
}