.navContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  background-color: rgba(10, 25, 33, 0.5);
  height: 50px;
  position: fixed;
  top: 0px;
  z-index: 100;
  backdrop-filter: blur(10px);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  padding: 0px 20px;
  height: 50px;
  min-height: 50px;
}

.nav h1 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  color: #fff;
}

.navCenterButtons {
  display: flex;
  flex-direction: row;
  gap: 2px;
  transition: 0.2s;
  align-items: center;
}

.navCenterButtons button {
  height: min-content;
  padding: 5px 10px;
  border-radius: 10px;
}

.navCenterButtons button p {
  margin-top: 1px;
}

.LanguageSwitcher {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.languageButton {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.LanguageModal {
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 20px;
  background: rgba(10, 25, 33, 1);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0),
    0px 0px 0px 1px rgba(255, 255, 255, 0) inset;
  backdrop-filter: blur(10px);
  padding: 10px;
  gap: 2px;
}

.LanguageModal button {
  color: var(--foreground);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  display: flex;
  justify-content: start;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
  transition: 0.2s;
}

.LanguageModal button p {
  margin-top: 1px;
}

.burgerMenu {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  justify-content: center;
  display: none;
  align-items: center;
  transition: 0.2s;
}

.adaptiveModalBox {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  padding: 10px 20px;
}

.adaptiveModalBox button {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: 0.2s;
}

.adaptiveModalBox button p {
  margin-bottom: 1px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.rowLanguages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 2px;
}

.rowLanguages .oneLanguage,
.rowLanguages .oneLanguageActive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  padding: 15px 10px;
  transition: 0.2s;
  border-radius: 10px;
  cursor: pointer;
}

.rowLanguages .oneLanguageActive {
  background-color: rgba(45, 212, 191, 0.1);
  border-radius: 10px;
}

@media (hover: hover) {
  .navCenterButtons button:hover,
  .languageButton:hover,
  .burgerMenu:hover {
    color: #5eead4;
    transition: 0.2s;
    background-color: rgba(45, 212, 191, 0.1);
  }

  .adaptiveModalBox button:hover {
    background-color: rgba(45, 212, 191, 0.1);
    border-radius: 10px;
    transition: 0.2s;
    color: #5eead4;
  }

  .burgerMenu:hover .hover,
  .hovered {
    display: none;
  }

  .burgerMenu:hover .hovered {
    display: flex;
  }

  .LanguageModal button:hover {
    background-color: rgba(45, 212, 191, 0.1);
    transition: 0.2s;
  }

  .LanguageModal button:hover p {
    color: #5eead4;
    transition: 0.2s;
  }
}

@media (hover: none) {
  .navCenterButtons button:active,
  .languageButton:active,
  .burgerMenu:active {
    color: #5eead4;
    transition: 0.2s;
    background-color: rgba(45, 212, 191, 0.1);
  }

  .adaptiveModalBox button:active {
    background-color: rgba(45, 212, 191, 0.1);
    border-radius: 10px;
    transition: 0.2s;
    color: #5eead4;
  }

  .burgerMenu:active .hover,
  .hovered {
    display: none;
  }

  .burgerMenu:active .hovered {
    display: flex;
  }

  .LanguageModal button:active {
    background-color: rgba(45, 212, 191, 0.1);
    transition: 0.2s;
  }

  .LanguageModal button:active p {
    color: #5eead4;
    transition: 0.2s;
  }
}

@media screen and (max-width: 1050px) {
  .LanguageModal {
    right: 10px;
  }
}

@media screen and (max-width: 600px) {
  .navCenterButtons,
  .LanguageSwitcher {
    display: none;
  }

  .burgerMenu {
    display: flex;
  }

  .navContainer {
    overflow: hidden;
  }
}
